* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px;
}

/* Container */
.container {
    display: grid;
    grid: 125px 800px 120px 540px 260px 50px / repeat(4, 1fr) 160px 430px 160px repeat(4, 1fr);
    grid-gap: 10px; 
}

/* Header Section */
.heading {
    grid-row: 1 / 2;
    grid-column: 1 / 12;
}

.headline {
    text-align: center;
    font-size: 3.125rem;
    line-height: 115px;
}

/* Large Iphone Section */
.iphone {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
}

.download {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.download a{
    color: aquamarine;
}

.screen {
    position: relative;
    top: 40px;
    margin-left: 11px;
}

/* Travel Guide Section */
.travel-guide {
    grid-row: 3 / 4;
    grid-column: 2 / 11;
}

.second-title {
    text-align: center;
    line-height: 55px;
}

.second-title h1 {
    font-weight: 300;
    font-size: 2.625rem;
}

.second-title p {
    font-size: 1.3125rem;
    color: gray;
}

/* Image Section */
.image {

    grid-row: 4 / 5;
    grid-column: 3 / 10;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.main-picture {

}

/* Release Date*/
.release {
    grid-row: 5 / 6;
    grid-column: 4 / 9;
}

.date {
    text-align: center;
    line-height: 60px;
}

.date a {
    color: aquamarine;   
}

/* Footer Section */
.footer {
    grid-row: 6 / 7;
    grid-column: 1 / 12;
    border: 5px solid yellow;
    background-color: red;
}