* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px;
}

/* Container */
.container {
    display: grid;
    grid: 125px 800px 120px 540px 260px 50px / repeat(4, 1fr) 160px 430px 160px repeat(4, 1fr);
    grid-gap: 10px; 
}

/* Header Section */
.heading {
    grid-row: 1 / 2;
    grid-column: 1 / 12;
}

.headline {
    text-align: center;
    font-size: 3.125rem;
    line-height: 115px;
}

/* Large Iphone Section */
.iphone {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
}

.download {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.download a{
    color: aquamarine;
}

.screen {
    position: relative;
    top: 40px;
    margin-left: 11px;
}

/* Travel Guide Section */
.travel-guide {
    grid-row: 3 / 4;
    grid-column: 2 / 11;
}

.second-title {
    text-align: center;
    line-height: 55px;
}

.second-title h1 {
    font-weight: 300;
    font-size: 2.625rem;
}

.second-title p, .second-title p .seperating{
    font-size: 1.3125rem;
    color: gray;
}



/* Image Section */
.image {

    grid-row: 4 / 5;
    grid-column: 3 / 10;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.pic {
    display: flex;
}

/* Release Date*/
.release {
    grid-row: 5 / 6;
    grid-column: 4 / 9;
}

.date {
    text-align: center;
    line-height: 60px;
}

.date a {
    color: aquamarine;   
}

/* Footer Section */
.footer {
    grid-row: 6 / 7;
    grid-column: 1 / 12;
    text-align: right;
    line-height: 40px;
}

.copy-right  p{
    font-size: 1.3125rem;
    color: gray;
    margin-right: 20px;
}

/* Responive Layout part 1 */
@media only screen and (max-width: 1300px) and (min-width: 1130px) {
    
    .headline {
        font-size: 2.9rem;
    }

    .download {
        margin-top: 12px;
    }

    .download a {
        font-size: 0.97rem;
    }

    .screen {
        margin-right: 10px;
        margin-bottom: 40px;
    }

    .screen video {
        height: 700px;
    }

    .second-title h1{
        font-size: 2.5rem;
    }   

    .second-title p {
        font-size: 1.2rem;
    }

    .pic img {
        width: 800px;
        height: 500px;
    }

    .date img {
        height: 85px;
        width: 50px;
    }

    .date h1 {
        font-size: 1.4rem;
    }

    .date a {
        font-size: 0.97rem;
    }
    
    .copy-right p {
        font-size: 1.2rem;
    }

    /* Background-Color */
    
    .container {
        display: grid;
        grid: 110px 800px 120px 540px 240px 50px / repeat(4, 1fr) 160px 430px 160px repeat(4, 1fr);
        grid-gap: 1px; 
    }
}

/* Responive Layout part 2 */
@media only screen and (max-width: 1130px) and (min-width: 820px) {

    .headline {
        font-size: 2.6rem;
    }

    .download {
        margin-top: 10px;
    }

    .download a {
        font-size: 0.91rem;
    }

    .screen video {
        height: 600px;
        margin-left: 40px;
        margin-top: 2px;
    }

    .screen {
        margin-right: 10px;

    }

    .second-title {
        margin-top: 20px;
    }

    .second-title h1{
        font-size: 2.3rem;
    }   

    .second-title p {
        font-size: 1rem;
    }

    .pic img {
        width: 700px;
        height: 400px;
        margin-top: 70px;
    }

    .date img {
        height: 80px;
        width: 45px;
    }

    .date h1 {
        font-size: 1.2rem;
    }

    .date a {
        font-size: 0.91rem;
    }
    
    .copy-right p {
        font-size: 1rem;
    }

    .container {
        display: grid;
        grid: 110px 700px 110px 540px 220px 50px / repeat(4, 1fr) 160px 430px 160px repeat(4, 1fr);
        grid-gap: 1px; 
    }
}

@media only screen and (max-width: 1020px) and (min-width: 600px) {
    .headline {
        font-size: 2.6rem;
        display: block;
        line-height: 60px;
        position: relative;
        top: 30px;
    }

    .seperate {
        display: block;
    }

    .container {
        display: grid;
        grid: 170px 700px 110px 540px 220px 50px / repeat(4, 1fr) 160px 430px 160px repeat(4, 1fr);
        grid-gap: 1px; 
    }
}

/* Responive Layout part 3 */
@media only screen and (max-width: 820px) and (min-width: 600px) {

    .download {
        margin-top: 10px;
    }

    .download a {
        font-size: 0.87rem;
    }

    .screen video {
        height: 550px;
        margin-left: 20px;
        margin-top: 2px;
    }

    .screen {
       position: relative;
       right: 30px;
    }

    .second-title {
        margin-top: 15px;
    }

    .second-title h1{
        font-size: 2.1rem;
    }   

    .second-title p {
        font-size: 0.9rem;
    }

    .second-title p .seperating {
        font-size: 0.9rem;
        display: block;
    }

    .pic img {
        width: 600px;
        height: 350px;
        margin-top: 75px;
    }

    .date {
        line-height: 50px;
    }

    .date img {
        height: 75px;
        width: 40px;
    }

    .date h1 {
        font-size: 1rem;
    }

    .date a {
        font-size: 0.87rem;
    }
    
    .copy-right p {
        font-size: 0.85rem;
    }

    .container {
        display: grid;
        grid: 170px 650px 170px 500px 190px 40px / repeat(4, 1fr) 75px 315px 75px repeat(4, 1fr);
        grid-gap: 1px; 
    }
}

@media only screen and (max-width: 700px) and (min-width: 600px) {
    .pic img {
        width: 550px;
        height: 350px;
        margin-top: 75px;
    }
}

/* Responive Layout part 4 */
@media only screen and (max-width: 600px) and (min-width: 590px) {

    .headline {
        font-size: 2.1rem;
    }

    .seperate {
        font-size: 2.1rem;
    }

    .download {
        margin-top: 10px;
    }

    .download a {
        font-size: 0.8rem;
    }

    .screen video {
        height: 500px;
        margin-left: 20px;
        margin-top: 2px;
        position: relative;
        left: 1px;
    }

    .second-title {
        margin-top: 15px;
    }

    .second-title h1{
        font-size: 1.9rem;
    }   

    .second-title p, .second-title p .seperating {
        font-size: 0.85rem;
    }

    .pic img {
        width: 475px;
        height: 300px;
        margin-top: 75px;
    }

    .date {
        line-height: 70px;
        position: relative;
        bottom: 50px;
    }

    .date img {
        height: 75px;
        width: 40px;
    }

    .date h1 {
        font-size: 1rem;
    }

    .date a {
        font-size: 0.80rem;
    }
    
    .copy-right p {
        font-size: 0.85rem;
    }

    .container {
        display: grid;
        grid: 170px 600px 185px 500px 190px 40px / repeat(4, 1fr) 70px 275px 70px repeat(4, 1fr);
        grid-gap: 1px; 
    }
}

/* Responive Layout part 5 */
@media only screen and (max-width: 590px) {
    
    .headline {
        font-size: 2.1rem;
        line-height: 80px;
    }

    .seperate {
        font-size: 2.1rem;
        display: block;
    }

    .download {
        margin-top: 10px;
    }

    .download a {
        font-size: 0.8rem;
    }

    .screen video {
        height: 450px;
        margin-left: 20px;
        margin-top: 2px;
        position: relative;
        right: 15px;
    }

    .second-title {
        margin-top: 15px;
    }

    .second-title h1{
        font-size: 1.7rem;
    }   

    .second-title p, .second-title p .seperating {
        font-size: 0.80rem;
    }

    .pic img {
        width: 455px;
        height: 300px;
        margin-top: 65px;
    }

    .date {
        line-height: 70px;
        position: relative;
        bottom: 80px;
    }

    .date img {
        height: 75px;
        width: 40px;
    }

    .date h1 {
        font-size: 1rem;
    }

    .date a {
        font-size: 0.80rem;
    }
    
    .copy-right p {
        font-size: 0.85rem;
    }

    .container {
        display: grid;
        grid: 180px 550px 170px 500px 160px 40px / repeat(4, 1fr) 70px 275px 70px repeat(4, 1fr);
        grid-gap: 1px; 
    }
}

